:root {
  --black: #1b1a17;
  --white: #faf8f2;
  --blue: #2f1dff;
}

body {
  color: var(--black);
  font-family: Neureal Mono, sans-serif;
  font-size: 1rem;
  line-height: 1rem;
}

h1 {
  margin-top: 20px;
  margin-bottom: 10px;
}

h2 {
  margin-top: 0;
  margin-bottom: 0;
  font-family: Neureal Mono, sans-serif;
  line-height: 2rem;
}

p {
  margin-bottom: 0;
}

a {
  color: var(--black);
  font-family: Neureal Mono, sans-serif;
  text-decoration: none;
}

.main {
  justify-content: space-between;
  align-items: stretch;
  height: 5000px;
  overflow: hidden;
}

.section {
  justify-content: space-between;
  align-items: flex-start;
  width: 90vw;
  max-width: 1152px;
  height: 100vh;
  margin-left: auto;
  margin-right: auto;
  padding-top: 10rem;
  display: flex;
  position: sticky;
  top: 0%;
}

.column {
  grid-column-gap: 5rem;
  grid-row-gap: 5rem;
  flex-direction: column;
  justify-content: flex-start;
  align-items: center;
  display: flex;
}

.column._1, .column._2, .column._3 {
  display: none;
}

.cover {
  background-color: var(--white);
  flex-flow: column;
  justify-content: center;
  align-items: center;
  width: 25vw;
  max-width: 320px;
  height: 40vw;
  max-height: 512px;
  display: flex;
  position: relative;
}

.image {
  object-fit: cover;
  width: 100%;
  box-shadow: 5px 5px 10px 3px #1b1a1733;
}

.body {
  background-color: var(--white);
  flex-flow: column;
  justify-content: space-between;
  align-items: stretch;
  display: flex;
}

.nb-container {
  z-index: 3;
  border-top: 1.4px solid var(--black);
  border-bottom: 1.4px solid var(--black);
  background-color: var(--white);
  flex-flow: row;
  justify-content: center;
  align-items: center;
  width: 100vw;
  height: 3.7rem;
  position: relative;
}

.nb-container.nb-container-scrolled {
  border-top-width: 0;
}

.mt {
  font-size: 1.5rem;
}

.mt._10 {
  text-align: center;
}

.mt.open-br {
  margin-right: -3px;
}

.mt.close-br {
  margin-left: -3px;
}

.nb-left {
  z-index: 2;
  grid-column-gap: 5rem;
  grid-row-gap: 5rem;
  justify-content: space-between;
  align-items: stretch;
  height: 100%;
  position: absolute;
  inset: 0% auto 0% 0%;
}

.lt {
  letter-spacing: .2rem;
  font-size: 1.3rem;
  font-weight: 400;
}

.last-name {
  grid-column-gap: .3rem;
  grid-row-gap: .3rem;
  display: flex;
}

.nav-bar {
  z-index: 3;
  background-color: var(--white);
  flex-flow: column;
  justify-content: flex-end;
  align-items: center;
  height: 6rem;
  transition: all .5s cubic-bezier(.165, .84, .44, 1);
  display: flex;
  position: fixed;
  inset: 0% 0% auto;
}

.nav-bar.nav-bar-scrolled {
  height: 3.7rem;
}

.first-name {
  grid-column-gap: .3rem;
  grid-row-gap: .3rem;
  margin-right: 1rem;
  display: flex;
}

.nb-center {
  flex-flow: column;
  justify-content: center;
  align-items: center;
  height: 100%;
  margin-left: auto;
  margin-right: auto;
  display: flex;
}

.footer {
  border-top: 1.4px solid var(--black);
  background-color: var(--white);
  width: 100vw;
  margin-top: auto;
  margin-left: auto;
  margin-right: auto;
  padding-top: 1rem;
  padding-bottom: 1rem;
}

.footer-text {
  text-align: center;
  letter-spacing: .1rem;
  font-size: .7rem;
  font-weight: 400;
}

.preloader {
  z-index: 4;
  grid-column-gap: 62px;
  grid-row-gap: 62px;
  background-color: var(--black);
  justify-content: center;
  align-items: center;
  width: 100%;
  height: 100%;
  display: none;
  position: fixed;
}

.pl-container {
  z-index: 1;
  justify-content: center;
  align-items: center;
  width: 100%;
  height: 100%;
  display: flex;
  position: relative;
}

.info {
  flex-flow: column;
  justify-content: flex-start;
  align-items: flex-start;
  margin-top: 2rem;
  margin-left: 2rem;
  margin-right: 2rem;
  display: flex;
  position: absolute;
  inset: 0%;
}

.publisher {
  color: var(--white);
  font-size: 1.1rem;
  font-weight: 400;
  line-height: 1.5rem;
}

.pl {
  color: var(--white);
  font-size: 2rem;
  font-weight: 400;
}

.first {
  grid-column-gap: .5rem;
  grid-row-gap: .5rem;
  margin-right: 2rem;
  display: flex;
}

.last {
  grid-column-gap: .5rem;
  grid-row-gap: .5rem;
  display: flex;
}

.nb-right {
  height: 100%;
  position: absolute;
  inset: 0% 0% 0% auto;
}

.nb-dropdown {
  flex-flow: column;
  justify-content: center;
  align-items: flex-start;
  height: 100%;
}

.nb-dd-toggle {
  flex-flow: column;
  justify-content: center;
  align-items: flex-start;
  height: 100%;
  padding: 0;
  display: flex;
}

.nb-dd-list {
  background-color: var(--white);
  flex-flow: column;
  margin-left: -1.5rem;
  padding: 1.5rem;
}

.nb-dd-list.w--open {
  border-right: 1px solid var(--black);
  border-bottom: 1px solid var(--black);
  border-left: 1px solid var(--black);
  padding: 1rem 1.7rem 1.5rem;
}

.nb-dd-text {
  letter-spacing: .2rem;
  flex-flow: column;
  justify-content: center;
  height: 100%;
  font-size: 1.3rem;
  font-weight: 400;
  display: flex;
}

.ab-link {
  color: var(--black);
  justify-content: center;
  align-items: center;
  height: 100%;
  text-decoration: none;
  display: flex;
}

.ab-link.w--current {
  cursor: pointer;
}

.hp-link {
  justify-content: center;
  align-items: center;
  height: 100%;
  text-decoration: none;
  display: flex;
}

.hp-link.w--current {
  color: var(--black);
  cursor: pointer;
}

.cv-main {
  justify-content: space-between;
  align-items: stretch;
  width: 100vw;
  min-height: 100svh;
  overflow: hidden;
}

.cv-image {
  height: 75vh;
  max-height: 900px;
  box-shadow: 5px 5px 10px 3px #1b1a1733;
}

.dd-link {
  letter-spacing: .1rem;
  justify-content: center;
  align-items: center;
  padding: .8rem 0;
  font-size: 1.2rem;
  font-weight: 400;
  text-decoration: none;
}

.dd-link.w--current {
  color: var(--blue);
}

.ab-main {
  flex-flow: column;
  justify-content: center;
  align-items: center;
  height: 100vh;
  margin-bottom: 5rem;
}

.ab-section {
  flex-flow: column;
  justify-content: center;
  align-items: center;
  width: 50vw;
  max-width: 600px;
  margin-top: 13rem;
  margin-left: auto;
  margin-right: auto;
  display: flex;
}

.mt-seo {
  display: none;
}

.ab-text {
  text-align: center;
  font-size: 1rem;
  font-weight: 400;
  line-height: 1.8rem;
}

.ab-text-lge {
  color: var(--blue);
  font-size: 3rem;
}

.ab-text-hl {
  color: var(--blue);
}

.contact-link {
  text-decoration: underline;
}

.cat-main {
  justify-content: space-between;
  align-items: stretch;
}

.cat-section {
  grid-column-gap: 4.5vw;
  grid-row-gap: 6.5vw;
  grid-template-rows: auto auto;
  grid-template-columns: 1fr 1fr 1fr 1fr;
  grid-auto-columns: 1fr;
  place-items: center stretch;
  width: 90vw;
  max-width: 1152px;
  margin-left: auto;
  margin-right: auto;
  padding-top: 12rem;
  padding-bottom: 10rem;
  display: grid;
}

.cv-section {
  flex-flow: column;
  justify-content: center;
  align-items: center;
  padding-top: 11rem;
  padding-bottom: 10rem;
  display: flex;
  position: relative;
}

.cat-cover {
  position: relative;
}

.overlay {
  background-color: var(--blue);
  display: none;
  position: absolute;
  inset: 0%;
}

.text {
  flex-flow: column;
  justify-content: flex-start;
  align-items: flex-start;
  margin-top: 2rem;
  margin-left: 1.5rem;
  margin-right: 1.5rem;
  display: flex;
  position: absolute;
  inset: 0%;
}

.cv-publisher {
  color: var(--blue);
  text-align: center;
  letter-spacing: .1rem;
  width: 500px;
  margin-top: 3rem;
  margin-bottom: 1.5rem;
  font-size: 1.5rem;
  font-weight: 400;
  line-height: 2rem;
}

.nb-wrapper {
  flex-flow: row;
  justify-content: center;
  align-items: center;
  width: 90vw;
  max-width: 1152px;
  height: 100%;
  margin-left: auto;
  margin-right: auto;
  display: flex;
  position: relative;
}

.series {
  grid-column-gap: 4.5vw;
  grid-row-gap: 4.5vw;
  border-top: 1.4px solid #1b1a1733;
  flex-flow: wrap;
  justify-content: center;
  align-items: center;
  width: 90vw;
  max-width: 1152px;
  margin-left: auto;
  margin-right: auto;
  padding-top: 4rem;
  padding-bottom: 4rem;
  display: flex;
}

.series.margin-top {
  border-top-width: 0;
  padding-top: 12rem;
}

.series.margin-bottom {
  padding-bottom: 10rem;
}

.sr-cover {
  width: 19.1vw;
  position: relative;
}

.cv-slider {
  width: 30vw;
  max-width: 550px;
  height: auto;
  display: block;
  box-shadow: 5px 5px 10px 3px #1b1a1733;
}

.cv-slider.abda {
  box-shadow: none;
  width: 500px;
}

.cv-slide-image {
  object-fit: cover;
}

.cv-slide-mask {
  overflow: hidden;
}

.cv-slide-la {
  inset: 0% auto 0% -100px;
}

.slide-nav {
  display: none;
}

.cv-slide-icon-l, .cv-slide-icon-r {
  filter: invert();
  font-size: 1.5rem;
}

.cv-slide-ra {
  right: -100px;
}

.nb-menu-icon, .nb-menu, .nb-bg {
  display: none;
}

.ab-heading {
  text-align: center;
  justify-content: space-between;
  align-items: stretch;
  margin-bottom: 4rem;
  display: flex;
}

.ab-ig {
  margin-top: 2rem;
}

.ig-icon {
  width: 1.3rem;
}

.cv-info {
  color: var(--black);
  text-align: center;
  width: 500px;
  font-size: 1rem;
  font-weight: 400;
  line-height: 1.8rem;
}

.column-alt {
  grid-column-gap: 7vw;
  grid-row-gap: 7vw;
  flex-direction: column;
  justify-content: flex-start;
  align-items: center;
  display: flex;
}

.column-tablet, .mobile {
  grid-column-gap: 5rem;
  grid-row-gap: 5rem;
  flex-direction: column;
  justify-content: flex-start;
  align-items: center;
  display: none;
}

.accolade {
  color: var(--white);
  margin-top: 1rem;
  margin-bottom: 2rem;
  font-size: .9rem;
  font-weight: 400;
  line-height: 1.2rem;
}

.cover-inner {
  position: relative;
}

@media screen and (min-width: 1280px) {
  .section {
    padding-top: 10.5rem;
  }

  .column._1, .column._2, .column._3 {
    display: flex;
  }

  .cat-section {
    grid-column-gap: 3.5rem;
    grid-row-gap: 5rem;
  }

  .cv-slider {
    width: 25vw;
  }

  .column-alt._1, .column-alt._2, .column-alt._3, .column-tablet {
    display: none;
  }
}

@media screen and (min-width: 1440px) {
  .sr-cover {
    max-width: 250.88px;
  }
}

@media screen and (min-width: 1920px) {
  .ab-section {
    margin-top: 20rem;
  }
}

@media screen and (max-width: 991px) {
  .section {
    padding-top: 8.5rem;
  }

  .column {
    grid-column-gap: 7vw;
    grid-row-gap: 7vw;
  }

  .column._1 {
    display: flex;
  }

  .column._2 {
    display: none;
  }

  .column._3 {
    display: flex;
  }

  .cover {
    cursor: pointer;
    width: 26vw;
    height: 41vw;
  }

  .image {
    box-shadow: 3px 3px 10px 1px #1b1a1733;
  }

  .nb-container, .nb-container.nb-container-scrolled {
    height: 3.5rem;
  }

  .mt {
    font-size: 1.45rem;
  }

  .lt {
    font-size: 1.25rem;
  }

  .nav-bar {
    height: 5.5rem;
  }

  .nav-bar.nav-bar-scrolled {
    height: 3.5rem;
  }

  .footer {
    padding-top: .9rem;
    padding-bottom: .9rem;
  }

  .info {
    display: none;
  }

  .nb-dd-text {
    font-size: 1.25rem;
  }

  .ab-section {
    width: auto;
    margin-top: 11rem;
  }

  .cat-section {
    grid-column-gap: 6.5vw;
    grid-row-gap: 8.5vw;
    grid-template-columns: 1fr 1fr 1fr;
    padding-top: 10rem;
    padding-bottom: 8rem;
  }

  .cv-section {
    padding-top: 10rem;
    padding-bottom: 8rem;
  }

  .text {
    display: none;
  }

  .series {
    grid-column-gap: 6.5vw;
    grid-row-gap: 6.5vw;
  }

  .series.margin-top {
    padding-top: 10rem;
  }

  .series.margin-bottom {
    padding-bottom: 8rem;
  }

  .sr-cover {
    width: 25.6vw;
  }

  .cv-slider {
    width: 50vw;
  }

  .shop---menu-dropdown-shop {
    width: 100%;
    height: auto;
    margin-left: 0;
    margin-right: 0;
    overflow: hidden;
  }

  .dd-text {
    color: #1b1a17;
    letter-spacing: 2px;
    flex-direction: column;
    justify-content: center;
    height: 60px;
    margin-right: 0;
    padding: 0 0 0 20px;
    font-family: Novecento, sans-serif;
    font-size: 11px;
    text-decoration: none;
    display: flex;
  }

  .dd-text.w--current {
    color: #1b1a17;
  }

  .dd-toggle {
    flex-direction: column;
    justify-content: center;
    align-items: flex-start;
    width: 100%;
    height: 60px;
    padding: 0;
    display: flex;
  }

  .dd-toggle.w--open {
    padding-top: 20px;
    padding-bottom: 20px;
  }

  .dd-list {
    background-color: #0000;
    flex-direction: column;
    align-items: flex-start;
    width: 100%;
    display: flex;
    position: static;
  }

  .column-alt._1, .column-alt._2 {
    display: none;
  }

  .column-alt._3 {
    margin-left: auto;
    margin-right: auto;
    display: none;
  }

  .column-tablet {
    grid-column-gap: 7vw;
    grid-row-gap: 7vw;
    display: flex;
  }

  .mobile {
    grid-column-gap: 7vw;
    grid-row-gap: 7vw;
  }
}

@media screen and (max-width: 767px) {
  .main {
    height: auto;
  }

  .section {
    height: auto;
    padding-top: 8.5rem;
    padding-bottom: 5rem;
    display: none;
  }

  .column._1, .column._3 {
    display: none;
  }

  .cover {
    width: auto;
    max-width: none;
    height: auto;
    max-height: none;
    display: block;
  }

  .nb-container.nb-container-scrolled {
    border-top-width: 1.4px;
    border-top-color: var(--black);
  }

  .nb-left {
    display: none;
  }

  .nav-bar, .nav-bar.nav-bar-scrolled {
    height: 5rem;
  }

  .footer {
    padding-top: .8rem;
    padding-bottom: .8rem;
  }

  .footer-text {
    font-size: .65rem;
  }

  .nb-right {
    display: none;
  }

  .cv-main {
    font-size: .9rem;
  }

  .cv-image {
    height: 65vh;
  }

  .ab-section {
    width: 90vw;
    margin-top: 9.5rem;
  }

  .ab-text {
    font-size: .9rem;
    line-height: 1.6rem;
  }

  .cat-section {
    grid-column-gap: 8vw;
    grid-row-gap: 10vw;
    grid-template-columns: 1fr 1fr;
    padding-top: 8.5rem;
    padding-bottom: 5rem;
  }

  .cv-section {
    padding-top: 9rem;
    padding-bottom: 5rem;
  }

  .cv-publisher {
    width: 80vw;
    margin-top: 2.5rem;
    font-size: 1.3rem;
  }

  .nb-wrapper {
    z-index: 2;
  }

  .series {
    grid-column-gap: 8vw;
    grid-row-gap: 8vw;
    padding-top: 3rem;
    padding-bottom: 3rem;
  }

  .series.margin-top {
    padding-top: 8.5rem;
  }

  .series.margin-bottom {
    padding-bottom: 5rem;
  }

  .sr-cover {
    width: 41vw;
  }

  .cv-slider, .cv-slider.abda {
    width: 70vw;
  }

  .cv-slide-la {
    left: -80px;
  }

  .cv-slide-icon-l, .cv-slide-icon-r {
    font-size: 1.2rem;
  }

  .cv-slide-ra {
    right: -80px;
  }

  .nb-menu-icon {
    grid-column-gap: .5rem;
    grid-row-gap: .5rem;
    cursor: pointer;
    flex-flow: column;
    justify-content: center;
    align-items: center;
    height: 3.5rem;
    margin-right: -.5rem;
    padding-left: .5rem;
    padding-right: .5rem;
    display: flex;
    position: absolute;
    inset: 0% 0% 0% auto;
  }

  .top, .bottom {
    background-color: #1b1a17;
    width: 1.5rem;
    height: 2.6px;
    padding-bottom: 0;
    padding-right: 0;
  }

  .nb-menu {
    z-index: 2;
    border-left: 1.4px solid var(--black);
    background-color: var(--white);
    flex-flow: column;
    justify-content: space-between;
    align-items: stretch;
    width: 320px;
    height: 100svh;
    padding-top: 1.5rem;
    display: flex;
    position: fixed;
    inset: 0% 0% 0% auto;
  }

  .menu-dropdown {
    width: 100%;
    display: block;
    overflow: hidden;
  }

  .dd-icon {
    margin-right: 0;
  }

  .menu-top {
    flex-flow: column;
    align-items: stretch;
    margin-top: 3.5rem;
    margin-right: 5vw;
  }

  .menu-item {
    padding-top: 3rem;
    padding-bottom: 1.3rem;
    padding-left: 3rem;
    text-decoration: none;
    display: flex;
  }

  .menu-bottom {
    border-top: 1.4px solid var(--black);
    justify-content: space-between;
    align-items: center;
    height: 3.7rem;
    position: absolute;
    inset: auto 0% 0%;
  }

  .menu-icon {
    height: 1.4rem;
  }

  .menu-icon._1 {
    height: 1.2rem;
  }

  .menu-bottom-wrapper {
    flex-flow: row;
    justify-content: space-between;
    align-items: center;
    width: 10rem;
    height: 3.7rem;
    margin-left: auto;
    margin-right: auto;
    display: flex;
  }

  .menu-text {
    color: var(--black);
    letter-spacing: .1rem;
    font-size: 1.2rem;
    font-weight: 400;
  }

  .nb-bg {
    z-index: 1;
    background-color: #1b1a1780;
    width: 100vw;
    height: 100vh;
    position: fixed;
    inset: 0%;
  }

  .dd-text {
    color: var(--black);
    letter-spacing: .1rem;
    width: 100%;
    height: 2.7rem;
    padding-left: 4.5rem;
    font-family: Neureal Mono, sans-serif;
    font-size: 1.1rem;
    font-weight: 400;
  }

  .dd-text.w--current {
    color: var(--blue);
  }

  .dd-toggle {
    height: 4rem;
    padding-left: 3rem;
  }

  .cv-info {
    width: 80vw;
    margin-bottom: 1rem;
    font-size: .9rem;
    font-weight: 400;
    line-height: 1.6rem;
  }

  .column-tablet {
    display: none;
  }

  .mobile {
    grid-column-gap: 8vw;
    grid-row-gap: 10vw;
    grid-template-rows: auto auto;
    grid-template-columns: 1fr 1fr;
    grid-auto-columns: 1fr;
    place-items: center stretch;
    width: 90vw;
    margin-left: auto;
    margin-right: auto;
    padding-top: 8.5rem;
    padding-bottom: 5rem;
    display: grid;
  }
}

@media screen and (max-width: 479px) {
  .section {
    padding-top: 8rem;
    padding-bottom: 4rem;
  }

  .last-name, .first-name {
    grid-column-gap: .25rem;
    grid-row-gap: .25rem;
  }

  .footer {
    padding-top: .7rem;
    padding-bottom: .7rem;
  }

  .footer-text {
    letter-spacing: .05rem;
  }

  .pl {
    font-size: 1.8rem;
    font-weight: 400;
  }

  .first {
    grid-column-gap: .45rem;
    grid-row-gap: .45rem;
    margin-right: 1.5rem;
  }

  .last {
    grid-column-gap: .45rem;
    grid-row-gap: .45rem;
  }

  .cv-image {
    width: 70vw;
    height: auto;
  }

  .cat-section {
    padding-top: 8rem;
    padding-bottom: 4rem;
  }

  .cv-section {
    padding-bottom: 4rem;
  }

  .cv-publisher {
    width: 90vw;
    margin-top: 2rem;
  }

  .series.margin-top {
    padding-top: 8rem;
  }

  .series.margin-bottom {
    padding-bottom: 4rem;
  }

  .sr-cover {
    width: 41vw;
  }

  .cv-slider {
    width: 70vw;
  }

  .cv-slide-la {
    left: -75px;
  }

  .cv-slide-icon-l, .cv-slide-icon-r {
    font-size: 1rem;
  }

  .cv-slide-ra {
    right: -75px;
  }

  .nb-menu {
    width: 290px;
  }

  .menu-item {
    padding-left: 2rem;
  }

  .dd-text {
    padding-left: 3.5rem;
  }

  .dd-toggle {
    padding-left: 2rem;
  }

  .cv-info {
    width: 90vw;
  }
}


@font-face {
  font-family: 'Moderne Sans';
  src: url('../fonts/MODERNE-SANS.woff') format('woff');
  font-weight: 400;
  font-style: normal;
  font-display: swap;
}
@font-face {
  font-family: 'Novecento';
  src: url('../fonts/Novecento-WideMedium.woff') format('woff');
  font-weight: 500;
  font-style: normal;
  font-display: swap;
}
@font-face {
  font-family: 'Sourcecodepro';
  src: url('../fonts/SourceCodePro-Regular.woff') format('woff');
  font-weight: 400;
  font-style: normal;
  font-display: swap;
}
@font-face {
  font-family: 'Neureal Mono';
  src: url('../fonts/Neureal-Mono.woff') format('woff');
  font-weight: 400;
  font-style: normal;
  font-display: swap;
}
@font-face {
  font-family: 'Neureal';
  src: url('../fonts/Neureal-Regular.woff') format('woff');
  font-weight: 400;
  font-style: normal;
  font-display: swap;
}